<div class="alerts-stack">
  <% flash.each do |type, msg| %>
    <% klass =
      case type.to_s
      when "notice" then "alert-success"
      when "alert"  then "alert-warning"
      when "error"  then "alert-danger"
      else "alert-info"
      end %>
    <div class="alert <%= klass %>" role="alert"><%= msg %></div>
  <% end %>
</div>
