<%# Fallbacks de rota (mantidos) %>
<% schedule_path ||= edit_profile_path(current_user) %>
<% agenda_path   ||= dashboard_path %>
<% history_path  ||= dashboard_path %>

<nav class="app-navbar navbar navbar-expand-lg pro-navbar">
  <div class="container-fluid">

    <%= link_to root_path, class: "navbar-brand d-flex align-items-center gap-2" do %>
      <%#= image_tag "logo.svg", alt: "Logo", class: "pro-navbar__logo" %>
      <span>Appointment app</span>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#proNavbar"
            aria-controls="proNavbar" aria-expanded="false" aria-label="Alternar navegação">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="proNavbar">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item"><%= link_to "Cadastro de horários", schedule_path, class: "nav-link" %></li>
        <li class="nav-item"><%= link_to "Minha Agenda", agenda_path, class: "nav-link" %></li>
