// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "form_legend_clear";
@import "navbar";

@import 'btn';
@import 'banner';
@import 'map';
@import 'stick';
@import 'service_show';
@import 'modal';
// @import 'simple_calendar';
@import 'conversation_page';
@import 'conversation_index';
@import 'history_index';
@import 'components/simple_calendar';
@import 'login';
@import 'footer';
@import 'dashboard';
@import "auth_form";

